body
    background-color #666
    +below(+1199px)
        background-color red
    .flass
        display flex
        flex-direction column
        h1
            color white
        h2
            color blue
            margin 0 auto
    ul
        li
            color violet